<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duniapp</title>
</head>
<body>
    <marquee behavior="alternate">Welcome To DuniaUpdates</marquee>
{% for source in news_sources %}

 <span style="text-align:right; font-size:X-large"> &nbsp;&nbsp;<a href="{{source.url}}">{{source.name}}</a></span>&nbsp;
 {% endfor %}
 <hr>


</body>
</html>